.detail {
  overflow: hidden;
}

.detail .dtitle {
  cursor: pointer;
  color: #229999;
}

.detail .dtitle:before {
  content: "\00bb";
  margin-right: 5px;
}

.detail .dtitle:hover {
  text-decoration: underline;
}

.detail .dcontent, .detail:not(.dclose) .dcontent {
  height: auto;
  max-height: 100vh;
  transition: height, max-height .3s ease-in-out;
}

.detail.dclose .dcontent {
  height: 0 !important;
  max-height: 0 !important;
  transition: height, max-height .3s ease-in-out;
}