.detail {
  overflow: hidden;
}

.dtitle {
  cursor: pointer;
  color: #229999;
}

.dtitle:hover {
  text-decoration: underline;
}

.detail:not(.dclose) .dcontent {
  height: auto;
  max-height: 100vh;
  transition: height, max-height .3s ease-in-out;
}

.detail.dclose .dcontent {
  height: 0;
  max-height: 0;
  transition: height, max-height .3s ease-in-out;
}